

body {
  background-color: #cce2e6;
  margin-bottom: 100px;
}

@media (max-width: 800px) {
  body {background-color: #fff;
  }
}

  #home {
    width: 200px;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: "Lucida Console", "Courier New", monospace;
    background: #3caaa5;
  }


#navbarSupportedContent {
  font-weight: bold;
  font-size: 20px;

}

.project_describe{
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 20%;
  background-color: #fff;
}


.Summary {  margin-top: 30px;
  font-family: "Lucida Handwriting", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #3caaa5;}


.description-header {
  
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-weight: bold;
  color: #4aaaa5;
}


#summary_picture {
  float: left;
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#visualization-pages {
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #fff;
}

.visualization-pages-header{  margin-top: 30px;
  font-family: "Lucida Handwriting", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #3caaa5;}


.visualizations-photo {
  width: 160px;
  height: 160px;
}

.visualizations-photo:hover {
  border: 3px solid black;
}

.visualizations-photo.clicked {
  border: 3px solid black;
}

#pictures {padding-top: 15px;
  text-align: center;
}

.compare-photo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  width: 400px;
  height: 400px;
}

.compare-pages-header {
  margin-top: 30px;
  font-family: "Lucida Handwriting", cursive;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #3caaa5;}



  #selected_picture {

    width: 100%;
    height: 100%;
  } 

  .compare-photo {
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
  }

  .container{
    margin-bottom: 20px;
  }