<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <hr />
    <h3>{{ mars_data.latest_title }}</h3>
    <p>{{ mars_data.latest_text }}</p>
    <h2>Featured Mars Image</h2>
    <hr />
    <img src="{{ mars_data.featured_image }}" alt="featured_image">
    <h2>Mars Facts</h2>
    <hr />
    <div>{{ mars_data.table }}</div>
  </div>
</body>

</html> -->




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="static/assets/css/styles.css" media="screen">
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>


<div class="container">
  <section class="row">
    <div class="col-md-16">
      <article class="project_describe">

        <h1 class="Summary">Latest Mars News</h1>
        <hr />
        <h2>{{ mars_data.latest_title }}</h2>
        <h3>{{ mars_data.latest_text }}</h3>
      </article>
    </div>

    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="project_describe">
    
            <h1 class="Summary">Featured Mars Image</h1>
            <hr />
            <img src="{{ mars_data.featured_image }}" alt="featured image" id="summary_picture"/>
          </article>
        </div>

      <div class= "col-md-4">   
          <section id="visualization-pages">
            <div class="visualizations">
              <h2 class="visualization-pages-header">Mars Facts</h2>
              <hr />
              <div id="table">
                  {{mars_data.table}}
              </div>
            </div>
          </section>

        </div>
    </section>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>


</html>
